[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
phidata = "*"
groq = "*"
fastapi = "*"
uvicorn = "*"
yfinance = "*"
duckduckgo-search = "*"
python-dotenv = "*"
openai = "*"
packaging = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
